.result {
  background-color: #fff;
  width: 600px;
  height: 432px;
  margin: auto;
  border-radius: 10px;
  position: relative;
  font-family: sans-serif;
}
h3 {
  text-align: center;
}

.buttonreset {
  width: 600px;
  height: 60px;
  margin-top: 350px;
  border-style: none;
  background-color: blueviolet;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 20px;
}
